.line-clamp-2[data-v-01722ea7]{display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden}@media(max-width:640px){h1[data-v-01722ea7]{font-size:2.5rem!important}h2[data-v-01722ea7]{font-size:1.75rem!important}}
